body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    color: #333;
    line-height: 1.6;
    overflow: scroll;
}

header {
    background-image: url(../Képek/baja.jpg);
    color: white;
    padding: 9rem 0;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    color: #4CAF50;
    text-align: justify;
}

.highlight {
    background: lightgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

article {
    background: lightgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
/* Slide stílusának meghatározása */
.slide {
    display: none;
}

.active {
    display: block;
    width: 100%;
    height: 100%;
    
}

/* Nyilak stílusának meghatározása */

/* Nyilak stílusának meghatározása */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px; /* Módosított rész: a nyilak magasságának negatív margója */
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-content {
    position: relative;
    padding: 50px;
    background: lightgray;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
#kepek {
    display: inline-block;
    max-width: 30%;
    max-height: 30%; 
    padding: 8px;
    margin-left: 30px;
}
.slider-content p {
    font-weight: bold;
    font-size: 14px;
    
}

.info {
    background-color: rgb(45, 138, 99);
    border: 2px solid rgb(46, 44, 44);
    border-radius: 10px;
    margin-top: -100px;
    padding: 20px;
}

h2 {
    font-size: 70px;
}

div > label {
    font-size: 140%;
    width: 100px;
}

div > input {
    font-size: 120%;
    width: 700px;
}

div > textarea {
    font-size: 120%;
    width: 700px;
    height: 100px; /* Adjunk hozzá egy alapértelmezett magasságot */
    resize: vertical; /* Csak függőlegesen méretezhető */
}

.btn {
    height: 50px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

footer>.container-fluid {
    position: absolute;
    bottom: 0;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
}
#pl{
    text-align: center;
    font-size: xx-large;
}

#hatter{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../Képek/baja_contact.jpg);
    background-size: cover;
    background-position: center;
    transition: background-size 0.5s ease; /* Add transition for smooth effect */
}

#contact_header{
    background-image: url();
}
.about {
    background: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.team-member {
    text-align: center;
    margin: 0 10px;
}

.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.team-member h4 {
    margin: 0.5rem 0 0.2rem 0;
}

.team-member p {
    margin: 0;
    font-size: 14px;
    color: #777;
}
#alma{
    text-align: center;
}
#he{
    text-align: center;
}